
.container {
display: flex;

}

.box1 {
    border: 1px solid black;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: cyan;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.box2 {
    border: 1px solid black;
    justify-content: center;
    display: flex;
    height: 200px;
    width: 200px;
    background-color: cyan;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
}

.box3 {
    border: 1px solid black;
    justify-content: right;
    height: 200px;
    width: 200px;
    background-color: cyan;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.box4  {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: cyan;
    font-weight: bold;
    font-size: 40px;
}