.block {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    position: relative;
    background-color: cyan;
    }
    
    .text {
        display: flex;
        font-weight: bold;
        font-size: 40px;
        position: absolute;
        right: 5px;
        right: 5px;
        top: 160px;
        
    }
    